<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephTwo=no" name="format-detection">
<meta content="email=no" name="format-detection">
<title>jQuery手机端无限级导航下拉菜单代码</title>

<link rel="stylesheet" href="css/style.css">

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</head>
<body>
<!---------------------------------------------------------------------------------------------------------------手机站导航开始---------->
<div class="sp_header">
  <div class="sp_logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
  <div class="sp_nav"> <span></span> <span></span> <span></span> </div>
</div>
<div class="sjj_nav">
  <ul>
    <li> <a href="#">素材科技</a>
      <div class="language"> <a href="">中</a> <a href="">En</a></div>
    </li>
    <li> <a href="">关于素材</a><i class="sp_nav_xjb"> </i>
      <ul>
        <li><a href="">企业简介</a><i class="sp_nav_xjb"> </i>
          <ul>
            <li><a href="">企业介绍</a><i class="sp_nav_xjb"> </i>
              <ul>
                <li><a href="">企业文字</a></li>
                <li><a href="">企业图片</a></li>
              </ul>
            </li>
            <li><a href="">企业文化</a></li>
            <li><a href="">企业理念</a></li>
          </ul>
        </li>
        <li><a href="">领导致辞</a></li>
        <li><a href="">大事记</a></li>
        <li><a href="">团队风采</a></li>
        <li><a href="">企业实力</a></li>
      </ul>
    </li>
    <li><a href="">主营业务</a></li>
    <li><a href="">经典案例</a></li>
    <li><a href="">联系我们</a></li>
    <li><a href="">素材博客</a></li>
    <li><a href="">网站地图</a></li>
  </ul>
</div>

<!---------------------------------------------------------------------------------------------------------------手机站导航结束----------> 
<div style="height: 2000px;background: #ddd"></div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
<p>来源：<a href="http://www.lanrenzhijia.com/" target="_blank">懒人</a></p>
</div>
</body>
</html>